.features{
    grid-column: center-start / center-end;
    //grid-row: features-start / features-end;
    margin: 15rem 0;

    
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // it makes the section responsive without writing media queries!
    grid-template-rows: auto auto;
    grid-gap: 6rem;
    align-items: start;

    .feature{

        display: grid;
        grid-template-columns: min-content 1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2.5rem;
        

        //we don't need to define the rows here - the content will define them

        &__icon{
            fill: $color-primary;
            width: 4.5rem;
            height: 4.5rem;
            grid-row: 1 / span 2;  //-1 only works within the explicit grid
            transform: translateY(-1rem);
        }

        &__text{
            font-size: 1.7rem;
            grid-column: 2 / -1;
        }
    }

}