.footer{
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 6rem 6rem 3rem 6rem;
}

.nav{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        
        padding: 1rem;
        display: block;
        transition: all .3s;

    }

    &__link:hover,
    &__link:active{
        background-color: rgba(#fff, 0.05);
    }
}

.copyright{
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 3rem;
    text-align: center;
}